<div class="jumbotron">
  <div class="header">
    <h1>Builds</h1>
    <p-selectButton [options]="sortOptions" [(ngModel)]="selectedSortOption" (onChange)="changeSortOrder($event.value)"></p-selectButton>
  </div>
  <div *ngIf="!jenkinsService.loading">
    <h3>{{getNumberOfSuccessfulBuilds()}} out of {{getNumberOfBuilds()}} builds successful</h3>
  </div>
  <p-progressSpinner *ngIf="jenkinsService.loading"></p-progressSpinner>

  <p-accordion [multiple]="true" *ngIf="!jenkinsService.loading">
    <p-accordionTab *ngFor="let build of builds"
                    header="{{build.fullDisplayName}} - {{build.result}}"
                    [ngClass]="build.building ? 'BUILDING' : build.result ? build.result : 'UNKNOWN'">
      <div>{{build.timestamp | date : 'dd.MM.yyyy HH:mm:ss'}}</div>
      <div>{{(build.duration) | duration}}</div>
      <div><a [attr.href]="build.url" target="_blank">{{build.url}}</a></div>
      <div *ngIf="build.builtOn">Built on: {{build.builtOn}}</div>
      <div *ngIf="build.actions.length && build.actions[0].causes && build.actions[0].causes.length">{{build.actions[0]?.causes[0]?.shortDescription}}</div>
    </p-accordionTab>
  </p-accordion>
</div>
